//imports
@import 'breakpoints';


// chat container
.chat_container {
    position: fixed;
    width: 95%;
    left: 2.5%;
    height: 85%;
    border: 1px solid gray;
    border-radius: 11px;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 6px;
}

// chat list
.chat_list_container {
   border-right: 1px solid gray;
   width: 25%;
   height: 100%;
   border-radius: inherit;

   .chatlist_header {
      border-bottom: 1px solid gray;
      height: 60px;
      display: flex;
      flex-wrap: nowrap;


      .title {
       font-size: 19px;
       display: flex;
       padding: 5px 6px;
       align-items: center;
       justify-content: center;
       text-align: center;
      }

      .img_container {
      height: 44px;
      width: 44px;
      margin: auto;
      margin-left: auto;
      margin-right: 2px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid gray;
      }
      }
   }
   .chatlist_body {

      .chatlist_item {
        padding: 2px 8px;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

         .chatlist_img_container {
         height: 47px;
         width: 47px;
         margin: auto;
         margin-left: auto;

         img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
         }
         }

         .chatlist_info {
            padding: 2px 5px;
            width: 80%;
            display: block;
           // flex-wrap: nowrap;

        .top_row {
            margin: 3px 0px;
            width: 100%;
            display: flex;

        .list_username {
            font-size: 16px;
            width: 80%;
        }

        .date {
            font-size: 13px;
            margin-left: auto;
        }
        }

        .bottom_row {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;

        .message_body {
            width: 80%;
            font-weight: lighter;
            font-family: 'Roboto';
        }
        .unread_count {
            margin-left: auto;
            font-size: 13px;
            background-color: gainsboro;
            padding: 3px 5px;
            border-radius: 50%;
            color: red;
            font-weight: lighter;
        }
        }
         }
      }
   }
}

//chat box
.chat_box_container {

    position: relative;
    width: 75%;
    height: 100%;
//    border: 1px solid gray;

    .chatbox_header {
        position: absolute;
        top: 0;
        border-bottom: 1px solid gray;
        height: 60px;
        width: 100%;
    }
    .chatbox_body {
       position: absolute;
       border: 1px solid blue;
       top: 60px;
       width: 100%;
       overflow-y: auto;
    }
    .chatbox_footer {
       border-top: 1px solid green;
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 60px;

    }
}
